{
  "extends": [
    "wesbos/typescript"
  ],
  "rules": {
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "react/no-unstable-nested-components": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": [
    "babel.config.js"
  ]
}